<nav>
    <div class="site-title">
      <a href="/">
        <h1>
          Blog
        </h1>
      </a>
      <p> A temibrands site</p>
    </div>
  
    <ul>
      <li> <a href="/"> Blogs</a></li>
        <li> <a href="/about">  About Blogs</a></li>
          <li> <a href="/create"> New Blogs</a></li>
    </ul>
  </nav>